

   <!--修改关系-->
           <div style="border:1px solid #ededed;">
               
                <form action="/Home/Finance/updateRelation" method="post" enctype="multipart/form-data">
               
                    <div style="margin-top:5px;width:98%;margin-left:2%;">
                        <h2>修改关系</h2>
                    </div>

                    <div style="margin-top:10px;width:98%;margin-left:2%;">
                        <label for="area">修改区域：</label> &nbsp;
                        <input type="radio" name="area" value="0" id="leftArea"  <if condition="$user.area eq 0">checked = checked</if> >左区</input> &nbsp;&nbsp;
                        <input type="radio" name="area" value="1" id="rightArea" <if condition="$user.area eq 1">checked = checked</if>  >右区</input>
                    </div>

                    <div style="margin-top:15px;width:98%;margin-left:2%;">
                        <label for="invit_1">修改邀请人：</label> &nbsp;
                        <select name="invit_1" style="width:90px;" id="invit_1">
                            <volist name="sameLayerUsers" id="v">
                                <option value="{$v.id}">{$v.username}</option>
                            </volist>
                        </select>
                    </div>
                    
                    <div style="margin-top:15px;margin-bottom:10px;width:98%;margin-left:2%;padding-left:10px;">
                        <input type="submit" value="更新" style="width:80px;height:30px;background:#ededed;font-size:16px;letter-spacing:2px;" /> &nbsp;
                        <input type="reset" value="充值"  style="width:80px;height:30px;background:#ededed;font-size:16px;letter-spacing:2px;" />
                    </div>
                    
                </form>
               
           </div> 
           <!--修改关系结束-->